.quizBody{
    padding: 36px;
    background-color: white;
    border: 1px solid #E5E7EB;
}
.quizbody-section{
    height: 100%;
}
.quizBody-title{
    padding-bottom: 48px;
}
.quizBody-variants{
    gap: 16px;
}
.quizBody-variant{
    cursor: pointer;
    min-width: 320px;
    padding: 24px 36px;
    background-color: #F3F4F6;
}
.quizBody-variant:hover{
    color: white;
    transition: .1s ease-in-out;
    background-color: #33686E;
}
.quizBody-btn{
    cursor: pointer;
    padding: 24px 40px;
    background-color: white;
    border: 2px solid #33686E;
}
.quizBody-progress{
    margin-left: 124px;
}
.progress{
    margin-left: 20px;
}
.progress-bar{
    max-width: 200px;
    width: 200px;
    padding: 6px 0;
    background-color: #D9EEED;
}
.bg-green{
    background-color: #438189;
}
.quizBody-bottom{
    margin-top: 24px;
}