.profileDropdown{
    position: absolute;
    top: 150%;
    right: 10%;
    padding: 16px;
    background-color: #fff;
    display: none;
    z-index: 3;
}
.profileDropdown.active{
    display: block;
}
.profileDropdown-myProfile{
    margin-bottom: 12px;
}
.profileDropdown-logout span, .profileDropdown-myProfile a{
    display: inline-block;
    padding: 16px 0;
    width: 239px;
    text-align: center;
}
.profileDropdown-myProfile a{
    background: #294248;
}
.profileDropdown-logout{
    background: #D9EEED;
}