.profileHead{
    padding: 36px 0;
}
.profileHead-nav{
    padding-bottom: 16px;
}
.profileHead_welcome-text{
    width: 60%;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: -0.02em;
}
.profileHead_stats{
    padding: 36px;
    background-color: #29474C;
}
.profileHead_stats-icon{
    padding: 6.5px 8.5px;
    background-color: white;
}
.profileHead_stats-icon svg{
    width: 16px;
    height: 20px;
}
.profileHead_stats-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.profileHead_stat{
    padding: 12px 16px;
    background-color: white;
}
.profileHead_stats-title{
    padding-bottom: 36px;
}
.profileHead_stats-title h6{
    padding-left: 12px;
}
.profileHead_stat span{
    font-weight: 800;
}