
.galery-element_big{
    padding: 66px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    height: 560px;
}

.galery-element_small{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    height: 80px;
    width: 80px;
}
.galery-element_small img{
    width: 100%;
    height: 100%;
}
.galery-elements_small .swiper-slide{
    width: 80px !important;
}

.galery .swiper {
    width: 100%;
    height: 100%;
}

.galery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.galery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.galery .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.galery .swiper-slide {
    background-size: cover;
    background-position: center;
}

.galery .mySwiper2 {
    height: 80%;
    width: 100%;
}

.galery .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.galery .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.galery .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.galery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}