.productDetail-body_right {
    padding-top: 115px;
    width: 30%;
}

.productDetail-body_right-component {
    margin-bottom: 16px;
    background: #F3F4F6;
    padding: 20px;
}
.productDetail-body_right-icon{
    margin-bottom: 24px;
}
.text-block{
    margin-bottom: 24px;
}
.productDetail-body_right-component h3{
    font-weight: 400;
    margin-bottom: 8px;
}
.productDetail-body_right-component h2{
    font-weight: 700;
}