.profilePersonal-title{
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
}
.profilePersonal-form{
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a grid with 2 columns */
    gap: 16px;
    padding-top: 48px;
}
.profilePersonal-form input{
    padding: 24px 20px;
    border: 1px solid #E5E7EB;
}
.profilePersonal-form button{
    color: white;
    padding: 20px 40px;
    background-color: rgba(51, 104, 110, 1);
}
.profileOrders .tabs-headings{
    background-color: transparent;
    padding: 0 !important;
}
.profileOrders .tab.selectedTab{
    border: none;
}
.profileOrders .tab{
    font-size: 30px;
    font-weight: 500;
}
.profileOrders .profileInnerBody-tab{
    padding: 40px 0;
}
.profileOrders .profileOrders-table_titles:first-child{
    padding-top: 48px;
}
.profileOrders .profileOrders-table_titles{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.profileOrders .profileOrders-table_title{
    padding: 10px 10px 22px;
    border: 1px solid rgba(229, 231, 235, 1)
}
.firstOrder{
    background: url("../../../../assets/images/backgrounds/loginBanner.png"), #F4F9F9;
}
.firstOrder .container{
    padding-top: 70px;
    padding-bottom: 70px;
}
.firstOrder-title{
    width: 25%;
}
.firstOrder-link{
    display: inline-block;
    margin-top: 48px;
    color: white;
    padding: 16px 36px;
    background-color: rgba(41, 71, 76, 1);
}
.profileAddresses-all{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.profileAddress{
    background-color: rgba(243, 244, 246, 1);
    padding: 20px;
}
.profileAddress-text{
    padding: 15px 0 20px;
}
.selectedAddress{
    background-color: rgba(51, 104, 110, 1);
}
.profileAddress button{
    background-color: transparent;
    border: none;
}
.firstAddress_link{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.firstAddress_link h4{
    padding-bottom: 48px;
}

.newAddress-section{
    width: 40%;
}

.newAddress-section form{
    margin: 48px 0 0 0;
    gap: 16px;
}

.newAddress-section form input{
    padding: 20px;
    gap: 20px;
    border: 1px solid #E5E7EB;
}

.newAddress-makePrimary h6{
    font-weight: 400;
    margin-right: 40px;
}

.newAddress-makePrimary input{
    width: 20px;
    height: 20px;
    margin: 0 10px 0;
}

.newAddress-buttons{
    margin-top: 16px;
}

.newAddress-buttons button{
    padding: 20px 40px;
    margin-right: 16px;
}

.newAddress-buttons button:first-child{
    background-color: rgba(51, 104, 110, 1);
}