@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  ul {
    padding-left: 0 !important;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  div{
    margin: 0;
  }
  body{
    margin: 0;
    padding: 0;
  }

  input {
    outline: none !important;
  }
  
  .App {
    position: relative;
  }
  .pointer{
    cursor: pointer;
  }
  .container {
    padding: 0 40px ;
  }
  
  .flex {
    display: flex;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .j-start {
    justify-content: flex-start;
  }
  
  .j-center {
    justify-content: center;
  }
  
  .j-end {
    justify-content: flex-end;
  }
  
  .j-between {
    justify-content: space-between;
  }
  
  .j-around {
    justify-content: space-around;
  }
  
  .a-start {
    align-items: flex-start;
  }
  
  .a-center {
    align-items: center;
  }
  
  .a-normal {
    align-items: normal;
  }
  
  .a-end {
    align-items: flex-end;
  }
  
  .d-none {
    display: none;
  }
  
  .column {
    flex-direction: column;
  }
  .text-center{
    text-align: center;
  }

  .w-16{
    width: 16%;
  }
  .w-33{
    width: 33%;
  }
  
  .w-100 {
    width: 100%;
  }

  .h-100{
    height: 100%;
  }

  .reversed-row{
    flex-direction: row-reverse;
  }

  .defaultBtn {
    border: none;
    outline: none;
  }
  /* colors  */
  .green200{
    color: #B3DBDC;
  }
  .green600{
    color: #33686E;
  }
  .green800{
    color: #29474C;
  }
  .white{
    color: #fff !important;
  }
  .gray300{
    color: #D1D5DB;
  }
  .gray400{
    color: #9CA3AF;
  }
  .gray500{
    color: #6B7280;
  }
  .gray600{
    color: #4B5563;
  }
  .blueAccent{
    color: #61C4BF;
  }
  .blue100{
    color: #D6F1EF;
  }
  /* Font-size */
  .f12{
    font-size: 12px;
  }
  .f14{
    font-size: 14px;
  }
  .f16{
    font-size: 16px;
  }
  .f18{
    font-size: 18px;
  }
  .f20{
    font-size: 20px;
  }
  .f22{
    font-size: 22px;
  }
  .f24{
    font-size: 24px;
  }
  .f26{
    font-size: 26px;
  }
  .f28{
    font-size: 28px;
  }
  .f30{
    font-size: 30px;
  }
  .f32{
    font-size: 32px;
  }
  .f34{
    font-size: 34px;
  }
  .f36{
    font-size: 36px;
  }
  .f48{
    font-size: 48px;
  }
  .f72{
    font-size: 72px;
  }
  /* Border radius */
  .border0{
    border-radius: 0px;
  }
  .border2{
    border-radius: 2px;
  }
  .border4{
    border-radius: 4px;
  }
  .border6{
    border-radius: 6px;
  }
  .border8{
    border-radius: 8px;
  }
  .border12{
    border-radius: 12px;
  }
  .border16{
    border-radius: 16px;
  }
  .border20{
    border-radius: 20px;
  }
  .border24{
    border-radius: 24px;
  }  
  .border36{
    border-radius: 36px;
  }
  .border50{
    border-radius: 50px;
  }
  .border64{
    border-radius: 64px;
  }


  @media screen and (max-width: 768px) {
    .container{
      padding: 0 16px;
    }
  }