.homeBanner {
    padding: 48px 0;
    background-color: #243A3D;
    background-image: url('../../../../assets/images/backgrounds/homeBannerBg.png');
    background-position: right center; 
    background-repeat: no-repeat; 
    background-size: contain; 
}
.homeBanner-head h2{
    white-space: pre-line;
    font-size: 96px;
    font-weight: 900;
}
.homeBanner-cards{
    margin-top: 64px;
    gap: 24px;
}
.homeBanner-card{
    padding: 20px 39px 20px 20px;
    background: #29474C;
    border: 1px solid #29474C;
    border-radius: 24px;
}
@media screen and (max-width: 768px) {
    .homeBanner{
        background-image: none;
    }
    .homeBanner-head h2{
        font-size: 36px;
    }
    .homeBanner-cards{
        margin-top: 24px;
    }
}