.filter{
    padding: 38px 0;
    background: #29474C;
    position: relative;
    display: none;
    margin-top: 24px;
}
.filter.active{
    display: block;
}
.mainFilter-card{
    padding: 40px 20px;
    cursor: pointer;
}
.mainFilter-card.active{
    background: #F4F9F9;
    border-radius: 20px;
}
.closeFilter{
    position: absolute;
    right: 40px;
    top: 36px;
    cursor: pointer;
}