
.productDetail-head_left h2{
    margin-bottom: 16px;
}
.productMain-info_feedback{
    gap: 20px;
}
.productMain-info_feedback .productMain-info_feedback-favorites svg{
    width: 24px;
    height: 24px;
}
.productMain-info_detailed{
    background: #F3F4F6;
    padding: 20px;
    margin-top: 36px;
}
.productMain-info_detailed-price{
    width: 65%;
}
.productMain-info_detailed-price h3 span:last-child{
    text-decoration: line-through;
}
.productMain-info_detailed-compound{
    width: 30%;
    background: #2C5459;
    padding: 16px;
    gap: 16px;
}
.productMain-info_detailed-compound ul li:last-child{
    margin-top: 8px;
}
.productMain-info_selects{
    margin-top: 40px;
}
.productMain-info_selects .productMain-info_types{
    width: 75%;
}
.productMain-info_weight{
    width: 22%;
}
.productMain-info_selects .custom-select-wrapper {
    width: 100%;
}
.productMain-info_addToCard{
    margin-top: 36px;
}
.productMain-info_addToCard-btn{
    width: 75%;
    background: #33686E;
    cursor: pointer;
    padding: 14px 0;
}
.productMain-info_addToCard-btn svg{
    width: 24px;
    height: 24px;
}
.productMain-info_addToCard-btn svg path{
    fill: #fff;
}