.successPage{
    padding: 68px 100px;
    background: url('../../assets/images/backgrounds/loginBanner.png');
}
.successPage-toHome{
    margin-top: 30px;
    cursor: pointer;
    padding: 16px 36px;
    outline: none;
    border: none;
    background: #33686E;
}