.swiper-container {
  position: relative;
}

.compareBody-products {

  .swiper-button-next,
  .swiper-button-prev {
    color: #29474C;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
  }
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid #29474C;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.swiper-button-next::before {
  transform: rotate(-45deg);
}

.swiper-button-prev::before {
  transform: rotate(135deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.compareBody {
  margin-bottom: 48px;
}

.compareBody-products {
  margin-bottom: 30px;
}

.compareBody-chars {
  padding: 30px 0;
  border-bottom: 1px solid #E5E7EB;
}

.compareBody-chars h2 {
  margin-bottom: 30px;
  font-weight: 700;
}