.loading img {
    width: 150px;
    height: 150px;
}

.loading {
    user-select: none;
    align-items: center;
    display: flex;
    gap: 20px;
}

.loading p {
    font-size: 25px;
    color: #101828;
    font-weight: 600;
}

