.loading img {
    width: 150px;
    height: 150px;
}

.loading {
    user-select: none;
    align-items: center;
    display: flex;
    gap: 20px;
}

.loading p {
    font-size: 25px;
    color: #101828;
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.089);
    z-index: 99;
    transition: all 0.2s;
}

.modal.active{
    display: flex;
}