
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select {
    position: relative;
    cursor: pointer;
    min-width: 100px;
}

.custom-select-trigger {
    padding: 14px 20px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
}

.custom-options {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    min-width: max-content;
}

.custom-option {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-option:hover,
.custom-option.selected {
    background-color: #f1f1f1;
}

.arrow {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.arrow.down {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M12 14.41l6.3-6.29 1.41 1.41L12 17.24 4.29 9.53 5.7 8.12l6.3 6.29z" fill="black"/></svg>');
}

.arrow.up {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M12 9.59L5.7 15.88 4.29 14.47 12 6.76l7.71 7.71-1.41 1.41L12 9.59z" fill="black"/></svg>');
}