/* CustomCheckbox.css */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: relative;
    height: 24px;
    width: 35px;
    background-color: #fff;
    border: 2px solid #29474C;
    border-radius: 6px;
    margin-right: 8px;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-checkbox .checkmark:after {
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid #29474C;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) translate(-100%, -30%);
  }
  