.blogs{
    margin: 64px 0;
}
.blogs-top{
    padding-bottom: 60px;
}
.blogs-title{
    font-weight: 700;
}
.blogs-link{
    text-decoration: underline;
}
.blogs-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates a grid with 2 columns */
    gap: 24px;
}
.main-blog .blogCard{
    width: 100%;
    padding: 48px 0;
    align-items: center;
    gap: 24px;
}
.main-blog .blogCard-body{
    width: 50%;
}
.main-blog .blogCard-body,.main-blog .blogCard-img{
    width: 50%;
}
.main-blog .blogCard-img{
    height: 400px;
}
.main-blog .blogCard-body_title{
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.02em;
}
.main-blog .blogCard-body_description{
    padding: 24px 0 52px;
}