.profileInnerBody-tabs .tabs-headings{
    background-color: rgba(249, 250, 251, 1);
    padding: 0 40px !important;
}
.profileInnerBody{
    background-color: rgba(249, 250, 251, 1);
}
.profileInnerBody-tabs .tabs-headings{
    margin: 0;
    padding: 0;
    gap: 40px;
}
.profileInnerBody-tab{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
}
.profileInnerBody-tabs .tab{
    padding: 32px 0 !important;
    font-size: 20px;
} 
.profileInnerBody-tabs .tab.selectedTab{
    border-bottom: 4px solid rgba(41, 71, 76, 1);
}